div{
    display:inline-block;
    border: 1px solid;
    vertical-align:top;
    padding:1em;
}
#start, #stop {
	position: fixed; right: 0px;
	border: 1px solid black;
	top: 0px; height: 40px; font-size: 30px;
	text-align: center;
}
#stop {
	top: 50px;
}