body {
	padding: 0px; margin: 0px;
}
.colorBox {
	float: left;
	cursor: pointer;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.centerTxt {
	text-align: center;
	font-size: 30px; font-weight: bold;
	font-family: Tahoma;
}
#box1 {background-color: #d1424e;} #box1:active {background-color: #b1424e;}
#box2 {background-color: #fa9543;} #box2:active {background-color: #da9543;}
#box3 {background-color: #8f43fa;} #box3:active {background-color: #8f43da;}
#box4 {background-color: #42d1c5;} #box4:active {background-color: #42c1b5;}
#exportTable {
	position: absolute; border-right: 1px solid black;
}
#startBtn, #stopBtn, #timer {
	float: left; width: 100px; padding: 5px 0px;
	text-align: center; border-bottom: 1px solid black;
}
#startBtn {
	border-right: 1px solid black; cursor: pointer;
}
#stopBtn {
	border-left: 1px solid black; cursor: pointer;
}
#extractor {
	width: 100%; background: #f2f2f2; border: none;
	padding: 0px; margin: 0px;
}